<%- include('partials/header') -%>
<section id='blur'>
    <section id="fare">
        <form action="/service-not-available" method="post" class="fareinput">
            <div class="form-floating mb-3 fare-input-number ">
                <input type="text" class="form-control fare-number train-number-name search-train" id="floatingInput" placeholder="12331/Himgiri Express" autocomplete="off" name="TName">
                <label for="floatingInput">Train Number/Name</label>
                <div class="autocom-box-train-search autocom-box"></div>
            </div>
            <div class="form-floating mb-3 fare-input-station ">
                <input type="text" class="form-control fare-station source search-station" id="floatingInput" placeholder="NDLS/New Delhi" autocomplete="off" name="Source">
                <label for="floatingInput">Source Station</label>
                <div class="autocom-box autocom-source" id="autocom-source"></div>
            </div>
            <div class="form-floating mb-3 fare-input-station ">
                <input type="text" class="form-control fare-station destination search-station" id="floatingInput" placeholder="NDLS/New Delhi" autocomplete="off" name="Destination">
                <label for="floatingInput">Destination Station</label>
                <div class="autocom-box autocom-destination" id="autocom-destination"></div>
            </div>
            <div class="form-floating mb-3 fare-button">
                <button type="submit" class="btn btn-success fare-check"><h4 class="h4">Check</h4></button>
            </div>
        </form>
    </section>
</section>
<%- include('partials/footer') -%>
