<%- include('partials/header') -%>
<section id='blur'>
    <section id="forgotPassword">
        <form onsubmit="forgotPassword('forgot_password_email', event)" class="forgotPasswordinput">
            <div class="form-floating mb-3 forgotPassword-input ">
                <input type="email" class="form-control forgotPassword" id="forgot_password_email" placeholder="abc@gmail.com" autocomplete="off" name="email" onblur="email_validation('forgot_password_email')">
                <label for="forgot_password_email">Enter Your Registered Email</label>
            </div>
            <div class="otpSentAnimation">
                <i class="fa-solid fa-circle-notch fa-spin" id="otpsenticon" style="color:#00ad73;"></i><span id="otpsent"></span>
            </div>
            <div class="form-floating mb-3 forgotPassword-button">
                <button type="submit" class="btn btn-success forgotPassword-search"><h5 class="h4">Search</h5></button>
            </div>
        </form>
    </section>
</section>
<div class="otpPopUp">
    <div class="otpsubmitanimation">
        <i class="fa-solid fa-circle-notch fa-spin" id="otpsubmiticon" style="color:#00ad73;"></i>
    </div>
    <div class="otpPopUp-content">
        <div class="otpPopUp-header">
            <h6>Please enter the One Time Password</h6>
            <p>A code has been sent to your registered email</p>
        </div>
        <div class="otpPopUp-body">
            <form onsubmit="verifyOtp('forgot_password_email', 'otpInput', event)" class="otpInputForm">
                <div id="otp" class="otpInputDiv"> 
                    <input class="otpInput" type="text" id="digit1" maxlength="1"  onkeydown="keyDown('digit1', event)"  onkeyup="otpKeyPressed('digit1' , event)" autocomplete="off" required autofocus/> 
                    <input class="otpInput" type="text" id="digit2"  maxlength="1" onkeydown="keyDown('digit2', event)"  onkeyup="otpKeyPressed('digit2' , event)" autocomplete="off" required/> 
                    <input class="otpInput" type="text" id="digit3" maxlength="1"  onkeydown="keyDown('digit3', event)"  onkeyup="otpKeyPressed('digit3' ,event)" autocomplete="off" required/> 
                    <input class="otpInput" type="text" id="digit4"  maxlength="1" onkeydown="keyDown('digit4', event)"  onkeyup="otpKeyPressed('digit4' , event)" autocomplete="off" required/> 
                    <input class="otpInput" type="text" id="digit5" maxlength="1"  onkeydown="keyDown('digit5', event)"  onkeyup="otpKeyPressed('digit5' ,event)" autocomplete="off" required/> 
                    <input class="otpInput" type="text" id="digit6" maxlength="1"  onkeydown="keyDown('digit6', event)"  onkeyup="otpKeyPressed('digit6' ,event)" autocomplete="off" required/> 
                </div>
                <div class="otpPopUp-button">
                    <button type="submit" class="btn btn-success otpPopUp-submit"><h5 class="h4">Submit</h5></button>
                </div>
            </form>
        </div>
        <div class="Otptimer">
            <i class="fa-solid fa-circle-notch fa-spin" id="sendingotpicon" style="color:#00ad73;"></i>
            <p class="otpsentmessage">OTP sent</p>
            <p class="timermessage">Resend OTP in <span id="timer"></span></p>
        </div>
        <div class="did_not_received_otp">
            <p>Didn't receive the code? <a type="button" class="resendButton" onclick="resendOtp(event)">Resend</a></p>
        </div>
    </div>
</div>
<script>
  const timeoutDuration = 15 * 60 * 1000; // 15 minutes in milliseconds
  function startRedirectTimer() {
    sessionStorage.setItem('resetPasswordPageLoadTime', Date.now());
    setTimeout(function() {
      window.location.href = '/login';
    }, timeoutDuration);
  }
  function checkRedirectTimer() {
    const pageLoadTime = sessionStorage.getItem('resetPasswordPageLoadTime');

    if (pageLoadTime) {
      const currentTime = Date.now();
      const elapsedTime = currentTime - parseInt(pageLoadTime);
      if (elapsedTime >= timeoutDuration) {
        window.location.href = '/login';
      } else {
        startRedirectTimer();
      }
    } else {
      startRedirectTimer();
    }
  }
  checkRedirectTimer();
  document.addEventListener('mousemove', startRedirectTimer);
  document.addEventListener('keydown', startRedirectTimer);
</script>
<%- include('partials/footer') -%>