<%- include('partials/header') -%>
<section id="blur">
    <section id="resetPassword">
        <form onsubmit="resetPassword('new_reset_password', '<%= userID %>', event)" class="resetPasswordinput">
            <div class="EditprofileInputs reset_password_input_container">
                <label for="new_password">New Password: </label>
                <div class="password_input">
                <input type="password" class="change_password_inputs" id="new_reset_password" name="new_reset_password" required onblur="passwordValidation('new_reset_password', 'confirm_new_reset_password')">
                <span toggle="#new_password" class="toggle_password" onclick="showPassword('new_reset_password', 'new_reset_password_icon')"><i id="new_reset_password_icon" class="fa-solid fa-eye"></i></span>
                </div>
            </div>
            <div class="EditprofileInputs reset_password_input_container">
                <label for="confirm_new_password">Confirm New Password: </label>
                <div class="password_input">
                <input type="password" class="change_password_inputs reset_confirm_password" id="confirm_new_reset_password" name="confirm_new_reset_password" required disabled oninput="confirmPassword('confirm_new_reset_password', 'new_reset_password', 'resetPasswordButton')">
                </div>
            </div>
            <div class="EditprofileInputs resetPasswordanimation">
                <i class="fa-solid fa-circle-notch fa-spin" id="resetsubmiticon" style="color:#00ad73;"></i><span id="resetSubmitmessage">Setting Password . . . . .</span>
            </div>
            <div class="EditprofileInputs">
                <button type="submit" name="resetPasswordButton" id="resetPasswordButton" class="btn btn-success" value="submit" disabled>Submit</button>
            </div>
        </form>
    </section>
</section>
<!-- Your existing content for resetPassword.ejs goes here -->

<script>
  const timeoutDuration = 15 * 60 * 1000; // 15 minutes in milliseconds
  function startRedirectTimer() {
    sessionStorage.setItem('resetPasswordPageLoadTime', Date.now());
    setTimeout(function() {
      window.location.href = '/login';
    }, timeoutDuration);
  }
  function checkRedirectTimer() {
    const pageLoadTime = sessionStorage.getItem('resetPasswordPageLoadTime');

    if (pageLoadTime) {
      const currentTime = Date.now();
      const elapsedTime = currentTime - parseInt(pageLoadTime);
      if (elapsedTime >= timeoutDuration) {
        window.location.href = '/login';
      } else {
        startRedirectTimer();
      }
    } else {
      startRedirectTimer();
    }
  }
  checkRedirectTimer();
  document.addEventListener('mousemove', startRedirectTimer);
  document.addEventListener('keydown', startRedirectTimer);
</script>

<%- include('partials/footer') -%>