<%- include('partials/header') -%>
<section id='blur'>
    <section id="train-info">
        <form id="trainInfoForm" class="train-info-form-input">
            <div class="form-floating mb-3 train-info-input ">
                <input type="text" class="form-control train-number-name search-train" id="floatingInput" placeholder="12331/Himgiri Express" autocomplete="off" name="nameumber">
                <label for="floatingInput" classs="label">Train Number Or Train Name</label>
                <div class="autocom-box-train-search autocom-box"></div>
            </div>
            <ul class="search-recomend"></ul>
            <div class="form-floating mb-3 train-info-button">
                <button type="submit" class="btn btn-success train-info-search"><h4 class="h4">Search</h4></button>
            </div>
        </form>
    </section>
</section>
<section id="train-info-output" style="display:none">
    <div class="train-info-output">
        <div class="train-schedule">
            <div class="train-schedule-head">
                <h6 style="padding:0; margin: auto 0;">Train Schedule</h6>
                <button type="button" class="train-info-close-button" onclick="close_train_info_output()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="train-first-body">
            <table class="table-head">
                <thead class="table-head-head">
                    <tr class="train-info-head-head">
                        <th style="width:11%">Train Number</th>
                        <th style="width:25%">Train Name</th>
                        <th style="width:18%">From Station</th>
                        <th style="width:18%">To Station</th>
                        <th style="width:28%">Running Days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="train-info-head-tr">
                        <td id="train_number"></td>
                        <td id="train_name"></td>
                        <td id="from_station"></td>
                        <td id="to_station"></td>
                        <td id="running_days">
                            <div class="RunsOn">
                                <span class="running-day mon"  style="width:14.2857143%">Mon</span>
                                <span class="running-day tue"  style="width:14.2857143%">Tue</span>
                                <span class="running-day wed"  style="width:14.2857143%">Wed</span>
                                <span class="running-day thu"  style="width:14.2857143%">Thu</span>
                                <span class="running-day fri"  style="width:14.2857143%">Fri</span>
                                <span class="running-day sat"  style="width:14.2857143%">Sat</span>
                                <span class="running-day sun"  style="width:14.2857143%">Sun</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-info">
                <thead class="table-info-head">
                    <tr class="train-info-stations-head">
                        <th style="width:6.25%">S.No.</th>
                        <th style="width:11.5%">Station Code</th>
                        <th style="width:27%">Station Name</th>
                        <th style="width:8.25%">Arrival</th>
                        <th style="width:8.25%">Departure</th>
                        <th style="width:16.75%">Halt Time (in minutes)</th>
                        <th style="width:11.5%">Distance (Km)</th>
                        <th style="width:10.5%">Day</th>
                    </tr>
                </thead>
                <tbody  id="train-info-stoppages">
                    
                </tbody>
            </table>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>
