<%- include('partials/header') -%>
<section id="blur">
    <section id="serviceNotAvailable">
        <div class="p-5 bg-success bg-opacity-25 rounded-3">
            <div class="container-fluid py-5">
                <h5 class="display-7 fw-bold text-success"></h5>
                <p class="col-md-8 fs-5">We sincerely apologize for the inconvenience you experienced. Please accept our sincerest apologies.</p>
                <p class="col-md-8 fs-6">We are working on it and will be back soon.</p>
                <a href="/" class="btn btn-success btn-lg" type="button">Go To Home</a>
            </div>
        </div>
    </section>
</section>
<%- include('partials/footer') -%>